body {
    background-color: orange
}

#center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.devoured {
    color:  blue;
    background-color: green
}

#Eat {
    margin: auto;
    border: 3px solid green;
    padding: 10px;
}

#Eaten {
    margin: auto;
    border: 3px solid red;
    padding: 10px;
}

div {
    column-rule-width: 1px;
}
#addburger {
    color:  blue;
    background-color: green
}

#title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px
}